.env-socials-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;

    .env-socials-icons-container {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .socials-icon {
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            &:hover {
                cursor: pointer;
                color: rgb(127, 120, 120);
                transition: 0.75s;
            }

            svg {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}