.art-gallery-container {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    flex: 1 1 auto;

    column-count: 4;
    column-gap: 16px;

    .img-content-container {
        break-inside: avoid;
        margin-bottom: 16px;

        .img-content-image {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}