.env-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 0.5rem;

    height: 40rem;
    width: 65rem;

    border: 1px solid black;
    border-radius: 0.75rem;

    .env-header-container {
        min-height: 5rem;
        max-height: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divider {
        border-top: 1px solid black;
        width: 100%;
    }

    .env-nav-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        top: 15%;

        
        .env-header {
            padding-top: 2rem;
        }

        .env-imageicon-container {
            top: 15%;

            border: 1px solid black;
            padding: 4rem;
            border-radius: 1.5rem;

            background-color: white;
        }

        .env-link-container {
            padding: 0.5rem;
            font-size: 1.2rem;

        }
    }


}