.env-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;

    height: 100%;
    max-height: 40rem;
    width: 30rem;
    transition: 0.35s;

    background: linear-gradient(rgba(228, 185, 201, 0.521));

    &.expand {
        width: 97vw;
        height: 95vh;
        max-height: none;
        margin-top: 0%;
        top: 0%;


        .env-header-container {
            min-height: 5rem;
            max-height: 5rem;
            border-bottom: 2px solid var(--border-color);
            background-color: var(--header-color);
            border-radius: 0.35rem 0.35rem 0rem 0rem;
        }
    }

    border: 2px solid var(--border-color);
    border-radius: 0.5rem;

    .env-header-container {
        min-height: 5rem;
        max-height: 10rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divider {
        border-top: 1px solid var(--border-color);
        width: 100%;
    }

    .env-body-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        overflow-y: scroll;
        overflow-x: hidden;

        &.empty {
            overflow-y: hidden;
        }
    }

}