.env-nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .env-header-container {
        .env-header {
            font-size: 3rem;
        }
    }

    .env-all-links-container {
        display: flex;
        gap: 0.5rem;

        .env-link-container {
            padding: 1rem;
            font-size: 1.2rem;
            border-radius: 0.5rem;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.env-nav-container.main-nav {
    position: absolute;
    flex-direction: column;
    justify-content: center;

    top: 15%;


    .env-imageicon-container {
        top: 15%;
        border: 1px solid black;
        padding: 4rem;
        border-radius: 1.5rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-image: url('../../assets/picturelogos/pfp7.png');

        background-size: 100% 100%;

        transition: 0.75s;
    }

    .env-all-links-container {
        flex-direction: column;

        .env-link-container {
            border: 1px solid black;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

.env-nav-container.sub-nav {
    justify-content: start;
    transition: 0.25s;

    .env-header-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .env-header {
            font-size: 2rem;
        }
    }

    .env-imageicon-container {
        top: 15%;
        border: 1px solid black;
        padding: 2rem;
        border-radius: 1.5rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../assets/picturelogos/pfp7.png');
        background-size: 100% 100%;

    }

    .env-all-links-container {
        flex-direction: row;
        align-items: center;

        .env-link-container {
            &:hover {
                color: rgb(95, 74, 74);
            }
        }
    }

}