.env-nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .env-header-text-container {
        .env-header {
            font-size: 3rem;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
                color: rgb(212, 190, 190);
                transition: 1s;
            }
        }
    }

    .env-all-links-container {
        display: flex;
        gap: 0.5rem;

        .env-link-container {
            padding: 1rem;
            font-size: 1.2rem;
            border-radius: 0.5rem;
            white-space: nowrap;

            font-weight: 500;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.env-nav-container.main-nav {
    position: absolute;
    flex-direction: column;
    justify-content: center;

    top: 15%;


    .env-imageicon-container {
        top: 15%;
        border: 1px solid var(--border-color);
        padding: 4rem;
        border-radius: 1.5rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-image: url('../../assets/picturelogos/pfp7.png');

        background-size: 100% 100%;
    }

    .env-header-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .env-all-links-container {
        flex-direction: column;
        gap: 1rem;

        .env-link-container {
            padding: 1rem 4rem 1rem 4rem;
            background-color: rgb(231, 229, 229);

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: rgb(161, 138, 138);
                background-color: rgb(189, 183, 182);
                transition: 0.3s;
            }
        }
    }

}

.env-nav-container.sub-nav {
    justify-content: start;

    .env-header-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;


        .env-header {
            font-size: 2rem;
        }
    }

    .env-imageicon-container {
        top: 15%;
        border: 1px solid var(--border-color);
        padding: 2rem;
        border-radius: 1rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../assets/picturelogos/pfp7.png');
        background-size: 100% 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .env-all-links-container {
        flex-direction: row;
        align-items: center;

        .env-link-container {
            &:hover {
                color: rgb(95, 74, 74);
            }
        }
    }

}