.env-nav-container.main-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    top: 15%;

    .env-header {
        padding-top: 2rem;
    }

    .env-imageicon-container {
        top: 15%;
        border: 1px solid black;
        padding: 4rem;
        border-radius: 1.5rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-image: url('../../assets/picturelogos/pfp7.png');
    }

    .env-link-container {
        padding: 0.5rem;
        font-size: 1.2rem;

    }
}

.env-nav-container.sub-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.75s;

    .env-imageicon-container {
        top: 15%;
        border: 1px solid black;
        padding: 4rem;
        border-radius: 1.5rem;

        background-color: white;

        background-position: center;
        background-repeat: no-repeat;
        width: 0.5rem;
        height: 0.5rem;
        background-image: url('../../assets/picturelogos/pfp7.png');
    }

}