@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: rgb(228, 185, 201);
    --header-color: rgb(252, 240, 248);
    --body-color: rgb(255, 238, 249);
    --border-color: rgb(62, 42, 53);
    --hover-color: rgb(212, 190, 190);
    --primary-text-color: rgb(52, 70, 114);
    --sub-section-color: rgb(255, 221, 233);
}


body {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(249, 215, 223), rgb(216, 147, 172));
    height: 100vh;
    overflow-y: hidden;
    color: var(--primary-text-color);
    align-items: center;
    margin: unset;

    font-family: 'Raleway', sans-serif;
}

.web-core-screen-container {
    border-radius: 0.80rem;
}

::-webkit-scrollbar {
    display: none;
}