@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: rgb(228, 185, 201);
    --body-color: rgb(114, 85, 104);
    --border-color: rgb(114, 105, 102);
    --hover-color: rgb(212, 190, 190);
}


body {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(230, 230, 230), rgb(228, 185, 201));
    height: 100vh;
    overflow-y: hidden;

    // background-color: var(--background-color);

    font-family: 'Raleway', sans-serif;

}

.web-core-screen-container {
    border-radius: 0.80rem;
}